.DS_Store
/.build
/.artifacts
/bin/.build/
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.edge-tools-tests
.swift-version

__pycache__/
*.pyc
*.egg-info
.pytest_cache/
.venv
python/build
rust/tokenizers/target/
.mypy_cache
.ruff_cache

node_modules/
/ts/needle2/dist/

.build
